name: Test package

on:
  push:
    branches:
      - "*"
  pull_request:
    branches:
      - "*"

jobs:
  test:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version:
          - "3.10"
          - "3.11"
          - "3.12"
          - "3.13"
          - "3.14"

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        uses: nick-fields/retry@v2
        with:
          timeout_minutes: 5
          max_attempts: 3
          retry_wait_seconds: 30
          command: |
            set -e
            python -m pip install --upgrade pip
            python -m pip install ppqs

      - name: Init
        run: |
          ppqs init

      - name: Lint
        run: |
          ppqs lint

      - name: Build
        run: |
          ppqs build

      - name: Test
        run: |
          ppqs test

      - name: Clean
        run: |
          ppqs clean

  all-done:
    runs-on: ubuntu-latest

    needs: test

    steps:
      - name: All done
        run: |
          echo All done
